.header{
    background: url('/header_img.png') no-repeat;
    height: 35vw;
    margin: 30px auto;
    background-size: contain;
    position: relative;
}
.header-content{
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom:10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-content h2{
    font-weight: 500;
    font-size: max(4.5vw,22px);
    color: #fff;
}
.header-content p{
    color: #fff;
    line-height: 1.5vw;
}
.header-btn{
    background: #fff;
    color:#4b5880;
    padding: 1vw 2.3vw;
    border-radius: 50px;
    border:1px solid transparent;
    outline: none;
    cursor: pointer;
    font-size:max(1vw,13px);
    transition: 0.3s ease-in-out;
}
.header-btn:hover{
   background:transparent;
   border: 1px solid #fff;
}

@media (max-width:1050px){

    .header-content{
        max-width: 45%;
    }
    .header-content p{
        font-size: 1vw;
    }
}

@media (max-width:750px){
    .header-content{
        max-width:70%;
    }
    .header-content p{
        display: none;
    }
    .header-btn{
        padding: 2vw 4vw;
    }
}